.clear { clear: both; }


.fix {
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: row;
  position: fixed;
  margin-top: calc(-100vh + 100px);
  padding-top: 10vh !important;
  z-index: -1;
  width: 100%;
}
.logo {
  max-width: 400px;
  padding: 0 2rem;
}

.elev {
  margin-left: auto;
  padding: 0 2rem;
  text-align: right;
}

.main {
  margin-top: calc(100vh - 100px);
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}

.whiteStripe {
  flex: 0 1;
  display: flex;
  flex-direction: row;
  min-width: 100;
  align-self: stretch;
  min-height: calc(100vh - 100px);
}

.blackStripe, .footer {
  background-color: #111;
  color: white;
  flex: 0 1;
  display: flex;
  flex-direction: row;
  min-width: 100;
  align-self: stretch;
  padding: 1rem 2rem;
  min-height: 100px;
}

.red {
  color: #f00;
}

.product {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.product .col {
  min-width: 300px;
  min-height: 235px;
  height: 100%;
  width: 70%;
  position: relative;
}
.product .text {
  max-width: 420px;
  min-width: 30%;
  padding: 1rem;
}

.product .col p {
  line-height: 1.5rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.2;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .product {
    width: 100%;
    flex-direction: column;
  }
}
